:root {
    --white: #ffffff;
    --grey: #f6f6f6;
    --stuff-color: #4d4d4d;
    --sub-stuff-color: #909090;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    /*font-family: 'Exo 2', sans-serif;*/
    font-size: 1vw;
}



.main {
    min-height: 100vh;
    width: 100%;
    background: #f84e7f;
    overflow: hidden;
    /*background: url("../img/main-bg-2.jpg") no-repeat center;*/
    /*background-size: cover;*/
}

.logo-wrapper {
    width: 100%;
    height: 80px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.menu-wrapper {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-icon {
    width: 30px;
    height: 30px;
    position: relative;
    border: 2px solid rgba(255, 255, 255, 0);
}

.menu-icon .strip {
    width: 20px;
    height: 2px;
    background: #ffffff;
    position: absolute;
    left: 50%;
    margin-left: -10px;
    top: 50%;
    margin-top: -1px;
    opacity: 1;
    transition: transform 500ms, opacity 500ms;

}

.menu-icon .top-strip {
    margin-top: -8px;
}

.menu-icon .bot-strip {
    margin-top: 6px;
}

.menu-icon-active .top-strip {
    transform: translateY(7px) rotateZ(45deg);
    transform-origin: center center;
}

.menu-icon-active .bot-strip {
    transform: translateY(-7px) rotateZ(-45deg);
    transform-origin: center;
}

.menu-icon-active .top-mid-strip {
    transform: translateX(-24px);
    opacity: 0;
}

.menu-icon-active .bot-mid-strip {
    transform: translateX(24px);
    opacity: 0;
}

.menu-icon-active {
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 50%;
    transition: border-color 500ms;
}

.logo-icon {
    width: 15px;
    height: 15px;
    margin: 5px;
    background-color: var(--white);
    border-radius: 50%;
}

.logo-wrapper {
    margin-bottom: 100px;
}

.logo-wrapper .logo-name {
    color: var(--white);
    font-weight: bolder;
    font-size: 22px;
}

.logo-wrapper .logo-paragraphs {
    margin: 5px;
}

.logo-wrapper .logo-slogan {
    color: var(--white);
    font-size: 14px;
}

.main-links {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    margin-bottom: 100px;
    transition: all 1500ms;
}



.main-links a {
    color: var(--white);
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
}

.hotline {
    height: 80px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
}

.hotline p {
    margin: 3px 0;
}

.slogan-wrapper {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.slogan-wrapper p {
    text-align: left;
    color: var(--white);
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 32px;
    padding-left: 7%;
}

.face-glass {
    display: flex;
    justify-content: center;
    align-items: center;
}

.face-wrapper {
    padding-top: 100%;
    position: relative;
}

.face-absolute-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url("../img/face-glass.png") no-repeat center center;
    background-size: contain;
}

.vector-image-wrapper {
    padding-top: 100%;
    position: relative;
}

.vector-image-absolute-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url("../img/vector-paint.png") no-repeat center center;
    background-size: contain;
    padding: 10%;
}

.button-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 5% 0;
}

.main button {
    cursor: pointer;
    width: 190px;
    height: 50px;
    border: 1px solid #db0070;
    background: rgba(255, 255, 255, 1);
    color: #db0070;
    font-weight: 600;
    font-size: 16px;
}

.main .transparent-button {
    border: 1px solid #ffffff;
    background: rgba(255, 255, 255, 0);
    color: #ffffff;
}

.main .transparent-button:hover {
    border: 1px solid #db0070;
    background: rgba(255, 255, 255, 1);
    color: #db0070;
}









