.order {
    overflow: hidden;
}

.order-header {
    font-weight: bolder;
    color: #000;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 6rem 0 2rem 0;
}

.order-header h2 {
    text-align: center;
}

.order .order-certificates {
    position: relative;
    padding-bottom: 100%;
}

.order-certificates-absolute-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
}

.order-certificate-itself {
    width: 100%;
    margin: 1em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}


.order-left-top {
    background: url("../img/top-left.png") no-repeat left center;
    background-size: cover;
    opacity: 0;
    transition: opacity ease-in-out 1500ms;
}

.order-left-bottom {
    background: url("../img/bot-left.png") no-repeat left center;
    background-size: cover;
    opacity: 0;
    transition: opacity ease-in-out 1500ms;
}

.order-big-right {
    background: url("../img/right-right.png") no-repeat center;
    background-size: cover;
    opacity: 0;
    transition: opacity ease-in-out 1500ms;
}

.order-right-top {
    background: url("../img/bottom-second.png") no-repeat center;
    background-size: cover;
    opacity: 0;
    transition: opacity ease-in-out 1500ms;
}

.order-right-bottom {
    background: url("../img/bottom-third.png") no-repeat center;
    background-size: cover;
    opacity: 0;
    transition: opacity ease-in-out 1500ms;
}

.order-big-left {
    background: url("../img/bottom-first.png") no-repeat center;
    background-size: cover;
    opacity: 0;
    transition: opacity ease-in-out 1500ms;
}

.order .order-transparent-block {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.8);
    font-weight: bolder;
}

.order .order-transparent-block p {
    text-align: center;
    text-decoration: none;
    line-height: 1.5em;
    padding: 1em;
    font-size: 1.2em;
}

.order .button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.order .button-wrapper button {
    cursor: pointer;
    width: 220px;
    height: 55px;
    border: 1px solid #db0070;
    background: rgba(255, 255, 255, 1);
    color: #db0070;
    font-weight: 600;
    font-size: 16px;
}